*{
  margin:0;
  border:0;
}
.App {
  text-align: center;
  background-image:linear-gradient(skyblue, pink, white);
}
.box{
  text-shadow: 5px 5px slateblue;
}
body{
  width:100vw;
  height:100vh;
  margin: 0 0;
}
.inline{
  width:39%;
  height:230px;
  margin:40px;
  padding:20px;
  line-height:40px;
  border: 3px solid black;
  border-radius:30px;
}
.func{
  background: skyblue;
  box-sizing: border-box;
  float:left;
}
.external{
  color:black;
}
.class{
  background:lightsalmon;
  box-sizing: border-box;
  float:right;
}
button{
  width:250px;
  height:50px;
  border-radius: 20px;
  background:gray;
  margin:100px;
  border:2px solid black;
}
button:hover{
  background: skyblue;
}
